<div class="item col-lg-3 col-lg-3adj col-md-4 col-sm-6 col-xs-6">
  <div class="thumbnail">
    <a href="{{ url_for('CompanyBP.view_company_page', company_id=company.reference) }}">
      <div class="img-wrap">
      <img alt="" style="height: 157px; width: 157px;" class="group list-group-image img-responsive lazy" data-src="{{ company.image_url or url_for('static', filename='assets/img/building.png') }}" src="{{ url_for('static', filename='assets/img/giphy.gif') }}">
      </div>
    </a>
    <div class="caption">
      <h5 class="group inner list-group-item-heading">
      <a href="{{ url_for('CompanyBP.view_company_page', company_id=company.reference) }}" class="item-name"><div class="ellipsis">{{ company.name|safe }}</div></a></h5>
      <div class="row item-desc">
        <div class="col-xs-8 item-price">
          <p></p>
        </div>
        <div class="col-xs-4 card-likes">
          <p class="text-right"></p>
        </div>
      </div>
    </div>
  </div>
</div>
