{% extends "layouts/main.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='assets/css/cropper.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/selectize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/selectize.default.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {# start main body #}
  <div class="container" id="profile">
    <div class="row">
      {# start sidebar #}
      <div class="col-lg-2 col-md-2 hidden-xs">
        <div class="sidebar-module">
          <h4>Resources</h4>
          <ul class="list-unstyled">
            <li><a href="{{ url_for ('UserBP.user_resources_page', user_id=current_user.id) }}">My Resources</a></li>
            <li><a class="active_category" href="#">Add Resources</a></li>
            <li><a href="{{ url_for ('UserBP.archive_resources_page', user_id=current_user.id) }}">Archived Resources</a></li>
          </ul>
        </div>
      </div> {# end sidebar #}

      {# start center page #}
      <div class="col-lg-10 col-md-10 center-page">
        {# start title #}
        <div class="col-lg-12">
          <h5 class="center-page-header">Add Resource</h5>
          <hr class="header-line">
        </div> {# end title #}


        <div class="container-new-resources">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="new-resources">
              {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-flash alert-{{ category }} alert-dismissible" role="alert" style="margin-top: 10px;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <!-- <strong>Title</strong> --> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
              {% endwith %}
              <div class="">
                <form id="resource_form" name="resource_form" role="form" method="POST" action="{{ url_for('.add_resources_page') }}" files=true enctype="multipart/form-data">
                  {{ resource_form.csrf_token }}
                  {{ resource_form.image_url(id="imgupload", class="form-control", style="display:none",  onchange="document.getElementById('resourcepic').src = window.URL.createObjectURL(this.files[0])") }}

                  <div class="form-group">
                    <span>
                      <p style="font-weight: bold; text-align: justify;">Ready to start? Add the resources you have to share here! Remember to make your descriptions as detailed as possible for a smooth collaboration.
                      </p>
                    </span>
                  </div>

                  {# Category #}
                  <div class="form-group">
                    <label for="Category" id="category_label"><span class="text-red">*</span>Category</label>
                    <select name="categories" id="categories" multiple="multiple" data-placeholder="Choose categories" style="width:100%;" tabindex="5">
                      <option value=""></option>
                      {{ wishlist.categories }}
                      {% for category in categories %}
                        <optgroup value="{{ category.id }}" label="{{ category.name }}">
                          {% for subcategory in category.subcategories %}
                            <option value="{{ subcategory.id }}">{{ subcategory.name }}</option>
                          {% endfor %}
                        </optgroup>
                      {% endfor %}
                    </select>
                    <div class="help-block with-errors"></div>
                  </div>

                  {# Suggest Category Checkbox #}
                  <div class="checkbox">
                    <label>
                      {{ resource_form.suggest_checkbox(value='n') }} <small class="text-muted">{{ resource_form.suggest_checkbox.label.text }}</small>
                    </label>
                    <small><em> (Suggested categories are subjected to approval.)</em></small>
                  </div>

                  {# Parent Category #}
                  <div class="form-group">
                    <label for="parent_category" id="parent_category_label">Main Category
                      <i class="fa fa-question-circle tooltip-icon" aria-hidden="true">
                        <span class="tooltiptext">
                          <ul class="nav">
                            <li>Choose an existing main category or suggest a new category.</li>
                          </ul>
                        </span>
                      </i>
                    </label>
                    {{ resource_form.parent_category(placeholder="Choose an existing main category or suggest a new one") }}
                  </div>

                  {# Subcategory #}
                  <div class="form-group">
                    <label for="subcategory" id="subcategory_label">Sub-Category</label>
                    {{ resource_form.subcategory(placeholder="Input sub-categories") }}
                  </div>

                  {# Item name #}
                  {% if resource_form.name.errors %}
                  <div class="form-group input-display-has-error has-error">
                  {% else %}
                  <div class="form-group">
                  {% endif %}
                    <label for="name"><span class="text-red">*</span>What is the name of your resource?</label>
                    {{ resource_form.name(class="form-control", placeholder="Item name") }}
                    <div class="help-block with-errors"></div>
                    {% if resource_form.name.errors %}
                      {% for error in resource_form.name.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>

                  {# Description #}
                  {% if resource_form.description.errors %}
                  <div class="form-group input-display-has-error has-error">
                  {% else %}
                  <div class="form-group">
                  {% endif %}
                    <label for="Description"><span class="text-red">*</span>Description</label>
                    {{ resource_form.description(class="form-control", placeholder="Tell us more about your item. e.g. size, condition, colour etc...", rows="5") }}
                    <div class="help-block with-errors"></div>
                    {% if resource_form.description.errors %}
                      {% for error in resource_form.description.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>

                  {# Quantity #}
                  {% if resource_form.quantity.errors %}
                  <div class="form-group input-display-has-error has-error">
                  {% else %}
                  <div class="form-group">
                  {% endif %}
                    <label for="quantity"><span class="text-red">*</span>Quantity</label>
                    {{ resource_form.quantity(class="form-control", placeholder="QTY", type='number', min=1) }}
                    <div class="help-block with-errors"></div>
                    {% if resource_form.quantity.errors %}
                      {% for error in resource_form.quantity.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>

                  {# Price #}
                  {% if resource_form.price.errors %}
                  <div class="form-group input-display-has-error has-error">
                  {% else %}
                  <div class="form-group">
                  {% endif %}
                    <label for="price"><span class="text-red">*</span>Price</label>
                    {{ resource_form.price(class="form-control", placeholder="S$1.00", type='number', min=1, step='any') }}
                    <div class="help-block with-errors"></div>
                    {% if resource_form.price.errors %}
                      {% for error in resource_form.price.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>

                  {# Rate #}
                  {% if resource_form.rates.errors %}
                  <div class="form-group input-display-has-error has-error">
                  {% else %}
                  <div class="form-group">
                  {% endif %}
                    <label for="rate"><span class="text-red">*</span>Rate</label>
                    {% for rate in resource_form.rates %}
                      <div class="radio">
                        <label>
                          {{ rate }} {{ rate.label.text }}
                        </label>
                      </div>
                    {% endfor %}
                    <div class="help-block with-errors"></div>
                    {% if resource_form.rates.errors %}
                      {% for error in resource_form.rates.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>

                  {# Street #}
                  {% if resource_form.street.errors %}
                  <div class="form-group input-display-has-error has-error">
                  {% else %}
                  <div class="form-group">
                  {% endif %}
                    <label for="street">Street</label>
                    {{ resource_form.street(class="form-control", placeholder="Street") }}
                    {% if resource_form.street.errors %}
                      {% for error in resource_form.street.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>

                  {# City #}
                  {% if resource_form.city.errors %}
                  <div class="form-group input-display-has-error has-error">
                  {% else %}
                  <div class="form-group">
                  {% endif %}
                    <label for="city">City</label>
                    {{ resource_form.city(class="form-control", placeholder="City") }}
                    {% if resource_form.city.errors %}
                      {% for error in resource_form.city.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>

                  {# State #}
                  {% if resource_form.state.errors %}
                  <div class="form-group input-display-has-error has-error">
                  {% else %}
                  <div class="form-group">
                  {% endif %}
                    <label for="state">State</label>
                    {{ resource_form.state(class="form-control", placeholder="State") }}
                    {% if resource_form.state.errors %}
                      {% for error in resource_form.state.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>

                  {# Zipcode #}
                  {% if resource_form.zipcode.errors %}
                  <div class="form-group input-display-has-error has-error">
                  {% else %}
                  <div class="form-group">
                  {% endif %}
                    <label for="zipcode">Zip code</label>
                    {{ resource_form.zipcode(class="form-control", placeholder="Zip code", type="number", onInput="checkLength(6,this)") }}
                    {% if resource_form.zipcode.errors %}
                      {% for error in resource_form.zipcode.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>

                  <div class="form-group" aria-describedby="submit-tooltip">
                    <button type="submit" id="addResource" class="btn btn-primary btn-default">
                      <span>List my resource</span>
                    </button>
                    <p><em>**Cover photo is required.</em></p>
                  </div>
                  <div class="photosfield">
                    <input class="inputImage_url" type="hidden" name="inputImage_url[]" id="inputImage1-pickk">
                    <input class="inputImage_url" type="hidden" name="inputImage_url[]" id="inputImage2-pickk">
                    <input class="inputImage_url" type="hidden" name="inputImage_url[]" id="inputImage3-pickk">
                    <input class="inputImage_url" type="hidden" name="inputImage_url[]" id="inputImage4-pickk">
                    <input class="inputImage_url" type="hidden" name="inputImage_url[]" id="inputImage5-pickk">
                    <input class="inputImage_url" type="hidden" name="inputImage_url[]" id="inputImage6-pickk">
                    <input class="inputImage_url" type="hidden" name="inputImage_url[]" id="inputImage7-pickk">
                    <input class="inputImage_url" type="hidden" name="inputImage_url[]" id="inputImage8-pickk">

                  </div>
                </form>

                <div class="temporary-full-image">
                    <input type="hidden" name="temp_full" id="inputImage1-pic-temp">
                    <input type="hidden" name="temp_full" id="inputImage2-pic-temp">
                    <input type="hidden" name="temp_full" id="inputImage3-pic-temp">
                    <input type="hidden" name="temp_full" id="inputImage4-pic-temp">
                    <input type="hidden" name="temp_full" id="inputImage5-pic-temp">
                    <input type="hidden" name="temp_full" id="inputImage6-pic-temp">
                    <input type="hidden" name="temp_full" id="inputImage7-pic-temp">
                    <input type="hidden" name="temp_full" id="inputImage8-pic-temp">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="new-resource-images">
              <div class="col-xs-12 image-pudding">
                <div class="img-container" id="img-cropper-container">
                  <img src="" alt="" class="center-block img-rounded">

                  <div id="btn-container-list" style="display:none;">
                    <div class="docs-buttons">
                      <button class="btn btn-sm btn-default btn-transparent" data-method="zoom" data-option="0.1"><i class="fa fa-plus" aria-hidden="true"></i></button>
                      <button class="btn btn-sm btn-default btn-transparent" data-method="zoom" data-option="-0.1"><i class="fa fa-minus" aria-hidden="true"></i></button>
                      <button class="btn btn-sm btn-success" data-method="getCroppedCanvas">Crop</button>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xs-3 thumb-padding">
                <label class="rs-thumb rs-thumb-cover">
                  <div class="rs-thumb-content" id="inputImage1-wrap"><img src="" alt="" id="inputImage1-pic" width="100%" style="display:none;"><i class="fa fa-picture-o" id="inputImage1-ico"></i>
                    <span class="rs-cover">Cover</span>
                  </div>
                </label>
              </div>

              <div class="col-xs-3 thumb-padding">
                <label class="rs-thumb rs-thumb-cover">
                  <div class="rs-thumb-content" id="inputImage2-wrap"><img src="" alt="" id="inputImage2-pic" width="100%" style="display:none;"><i class="fa fa-picture-o" id="inputImage2-ico"></i>
                  </div>
                </label>
              </div>

              <div class="col-xs-3 thumb-padding">
                <label class="rs-thumb rs-thumb-cover">
                  <div class="rs-thumb-content" id="inputImage3-wrap"><img src="" alt="" id="inputImage3-pic" width="100%" style="display:none;"><i class="fa fa-picture-o" id="inputImage3-ico"></i>
                  </div>
                </label>
              </div>

              <div class="col-xs-3 thumb-padding">
                <label class="rs-thumb rs-thumb-cover">
                  <div class="rs-thumb-content" id="inputImage4-wrap"><img src="" alt="" id="inputImage4-pic" width="100%" style="display:none;"><i class="fa fa-picture-o" id="inputImage4-ico"></i>
                  </div>
                </label>
              </div>

              <div class="col-xs-3 thumb-padding">
                <label class="rs-thumb rs-thumb-cover">
                  <div class="rs-thumb-content" id="inputImage5-wrap"><img src="" alt="" id="inputImage5-pic" width="100%" style="display:none;"><i class="fa fa-picture-o" id="inputImage5-ico"></i>
                  </div>
                </label>
              </div>

              <div class="col-xs-3 thumb-padding">
                <label class="rs-thumb rs-thumb-cover">
                  <div class="rs-thumb-content" id="inputImage6-wrap"><img src="" alt="" id="inputImage6-pic" width="100%" style="display:none;"><i class="fa fa-picture-o" id="inputImage6-ico"></i>
                  </div>
                </label>
              </div>

              <div class="col-xs-3 thumb-padding">
                <label class="rs-thumb rs-thumb-cover">
                  <div class="rs-thumb-content" id="inputImage7-wrap"><img src="" alt="" id="inputImage7-pic" width="100%" style="display:none;"><i class="fa fa-picture-o" id="inputImage7-ico"></i>
                  </div>
                </label>
              </div>

              <div class="col-xs-3 thumb-padding">
                <label class="rs-thumb rs-thumb-cover">
                  <div class="rs-thumb-content" id="inputImage8-wrap"><img src="" alt="" id="inputImage8-pic" width="100%" style="display:none;"><i class="fa fa-picture-o" id="inputImage8-ico"></i>
                  </div>
                </label>
              </div>

              <div class="col-xs-12">
                <div class="small"><em>Accepted formats (.JPG, .JPEG, .PNG)</em></div>
              </div>

              <input type="file" class="inputImage" id="inputImage1" style="display:none;">
              <input type="file" class="inputImage" id="inputImage2" style="display:none;">
              <input type="file" class="inputImage" id="inputImage3" style="display:none;">
              <input type="file" class="inputImage" id="inputImage4" style="display:none;">
              <input type="file" class="inputImage" id="inputImage5" style="display:none;">
              <input type="file" class="inputImage" id="inputImage6" style="display:none;">
              <input type="file" class="inputImage" id="inputImage7" style="display:none;">
              <input type="file" class="inputImage" id="inputImage8" style="display:none;">
            </div>
          </div>
          <br><br>
        </div>




      </div> {# end center page #}
    </div>
    <br>
  </div> {# end main body #}
{% endblock %}

{% block lib_javascript %}
  <script src="{{ url_for('static', filename='assets/js/selectize.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/cropper.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/cropper-main.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/jquery.validate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/additional-methods.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/selectize_no_result_plugin.js') }}"></script>
{% endblock %}

{% block custom_javascript %}
  <script type="text/javascript">
    console.log("This is from cropper JS: " + window.upload_img_ctr);
    $("#addResource").click(function(event) {
      console.log("Current Upload Ctr: " + window.upload_img_ctr);
      if (window.upload_img_ctr > 0){
        event.preventDefault();
      }
      else {
        var images = $('.inputImage_url').val()
        if (images.length == 0) {
          alert("Please upload a cover photo.");
          event.preventDefault();
        } else {
          $("#addResource").submit();
        }
      }
    });

    // document.ready
    $( document ).ready(function() {
      $("#parent_category").hide();
      $("#parent_category_label").hide();
      $("#subcategory").hide();
      $("#subcategory_label").hide();
      initCategorySel();
    });

    // show image picker
    $('#imgclick').click(function() {
      $('#imgupload').trigger('click');
    });

    // show/hide suggest category
    $('#suggest_checkbox').change(function() {
      if (this.checked) {
        // hide categories
        $('#categories')[0].selectize.clear();
        $('#categories')[0].selectize.destroy();
        $('#category_label').hide();
        $('#categories').hide();
        $("#categories-error").hide();

        // show parent categories
        initParentCategorySel();
        initSubcategorySel();
        $('#parent_category_label').show();
        $('#subcategory_label').show();

        $('#parent_category')[0].selectize.setValue($('#parent_category')[0].selectize.search('Others').items[0].id)
      } else {
        // show category
        $('#category_label').show();
        $("#categories-error").show();
        initCategorySel();

        // hide parent categories
        $('#parent_category')[0].selectize.clear();
        $('#parent_category')[0].selectize.destroy();
        $('#parent_category_label').hide();
        $('#parent_category').hide();

        // hide subcategories
        $('#subcategory')[0].selectize.clear();
        $('#subcategory')[0].selectize.destroy();
        $('#subcategory_label').hide();
        $('#subcategory').hide();
      }
    });

    // init category selectize
    // function initCategorySel() {
    //   $('#categories').selectize({
    //     plugins: ['remove_button', 'restore_on_backspace', 'no_results'],
    //     onChange: function(value) {
    //       if(value !== null) {
    //         $("#categories-error").hide();
    //       } else {
    //         $("#categories-error").show();
    //       }
    //     }
    //   });
    // }

    function initCategorySel() {
      $('#categories').selectize({
        maxItems: 1,
        searchField: ['text', 'optgroup'],
        plugins: ['remove_button', 'restore_on_backspace', 'no_results'],
        onChange: function(value) {
          if(value !== null) {
            $("#categories-error").hide();
          } else {
            $("#categories-error").show();
          }
        },
        lockOptgroupOrder: true,
        onDropdownOpen: function() {
          this.$dropdown_content[0].scrollTop = 0;
        }
      });

      var selected_categories = JSON.parse('{{ wishlist.categories|tojson }}');
      for (var category in selected_categories) {
       $('#categories')[0 ].selectize.addItem(selected_categories[category].subcategory.id);
      }
    }

    // init parent category selectize
    function initParentCategorySel() {
      $('#parent_category').selectize({
        delimiter: ',',
        persist: true,
        maxItems: 1,
        create: function(input) {
          return {
              value: input,
              text: input
          }
        },
        onChange: function(value) {
          if(value !== null) {
            $("#parent_category-error").hide();
          } else {
            $("#parent_category-error").show();
          }
        }
      });

      // populate parent category
      var categories = JSON.parse('{{ categories|tojson }}');
      console.log(categories);
      for (var category in categories) {
        $('#parent_category')[0].selectize.addOption({
          value: categories[category].id,
          text: categories[category].name
        });
      }
    }

    // init subcategory selectize
    function initSubcategorySel() {
      $('#subcategory').selectize({
        plugins: ['remove_button', 'restore_on_backspace'],
        maxItems: 1,
        persist: false,
        create: function(input) {
          return {
              value: input,
              text: input
          }
        },
        onChange: function(value) {
          console.log(value);
          if(value !== "") {
            $("#subcategory-error").hide();
          } else {
            $("#subcategory-error").show();
          }
        }
      });
    }
  </script>

  <script>
    $("#resource_form").validate({
      rules: {
        categories: "required",
        parent_category: "required",
        subcategory: "required",
        name: "required",
        description: "required",
        quantity: {
          required: true,
          digits: true
        },
        price: {
          required: true,
          number: true
        },
        zipcode: {
          required: false,
          digits: true,
          minlength: 6,
          maxlength: 6
        }
      },
      messages: {
        categories: "Category is required.",
        parent_category: "Main category is required.",
        subcategory: "Sub-category is required.",
        name: "Resource name is required.",
        description: "Description is required.",
        quantity: {
          required: "Quantity is required.",
        },
        price: {
          required: "Price is required.",
        },
      },
      ignore: ':hidden:not([class~=selectized]),:hidden > .selectized, .selectize-control .selectize-input input',
      errorElement: "span",
      errorPlacement: function(error, element) {
        // Add the `help-block` class to the error element
        error.addClass("help-block has-error");
        if (element.prop("type") === "checkbox") {
          error.insertAfter(element.parent("label"));
        } else {
          error.insertAfter(element);
        }
      },
      highlight: function(element, errorClass, validClass ) {
        $(element).parents(".form-group").addClass("has-error").removeClass("has-success");
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).parents(".form-group").removeClass("has-error");
      },
      focusInvalid: false,
      invalidHandler: function(event, validator) {
        if(validator.errorList[0].element.id == 'categories' || validator.errorList[0].element.id == 'parent_category' || validator.errorList[0].element.id == 'subcategory') {
          $('html, body').animate({
            scrollTop: $(".new-resources").offset().top
          }, 0);
        } else {
          validator.errorList[0].element.focus();
        }
      }
    });
  </script>

  <script>
    $(function(){
      var profileImageURL;
      var url_image = window.URL || window.webkitURL;
      var image_container = document.getElementById('profilepic');

      $(document).on('change', '#imgupload', function(){
        var import_image = this;
        import_image_profile(import_image);

      });

      function import_image_profile(source) {

          var file_types = ['png','jpg','jpeg'];
          var file_type_ctr = 0;

          var files = source.files;
          var file;
          if (files && files.length) {
            file = files[0];

            for(var type in file_types){
                if(file_types[type] === file.type.replace("image/","")){
                    file_type_ctr += 1;
                }
            }

            if(file_type_ctr == 0){
                window.alert('Invalid file format');
                return;
            }
          }


      }

    });
  </script>

  <script>
    function checkLength(len,ele){
      var fieldLength = ele.value.length;
      if(fieldLength <= len){
        return true;
      }
      else
      {
        var str = ele.value;
        str = str.substring(0, str.length - 1);
        ele.value = str;
      }
    }
  </script>
{% endblock %}