{% extends "layouts/main.html" %}
{% block head %}
  <meta property="og:title" content="{{ resource.name|safe }} at Resources To Share" />
  {#
  <meta property="og:image:url" content="http://api.resourcestoshare.com/resources-to-share/api/image?url={{ resource.images[0].image_full }}" />
  <meta property="og:image:secure_url" content="http://api.resourcestoshare.com/resources-to-share/api/image?url={{ resource.images[0].image_full }}" />
  #}
  <meta property="og:image:url" content="http://api.resourcestoshare.com/resources-to-share/api/image?url={{ resource.image_url }}" />
  <meta property="og:image:secure_url" content="http://api.resourcestoshare.com/resources-to-share/api/image?url={{ resource.image_url }}" />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="600" />
  <meta property="og:description" content="{{ resource.description|safe }}" />
  <meta property="article:author" content="R2S" />
  <meta property="fb:app_id" content="{{ fb_app_id }}" />
  <meta property="og:url" content="{{ base_url }}/{{ resource.reference }}" />
  <meta property="og:type" content="website" />
  <meta property="article:publisher" content="https://www.facebook.com/resourcestoshare" />
  <meta property="og:site_name" content="R2S" />

  <link href="{{ url_for('static', filename='assets/css/swiper.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/daterangepicker.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/selectize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/selectize.default.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {# start main body #}
  <div class="container sub-banner" id="resource-profile">
    <div class="row">
      {# start sidebar category #}
      <div class="col-lg-2 col-md-2 hidden-xs">
        <div class="sidebar-module">
          <h4>Category</h4>

          <div class="form-group">
            <select name="categories" id="categories" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);" multiple="multiple" data-placeholder="Search" style="width:100%;" tabindex="5">
              {% for category in categories %}
                <optgroup id="{{ category.name|safe }}">
                  <option value="{{base_url}}/categories/{{ category.id }}">
                    {{ category.name|safe }}
                  </option>
                </optgroup>
              {% endfor %}
            </select>
            <div class="help-block with-errors"></div>
          </div>

          <input id="scrollup" type="image" width="170" height="20" name="scroll_up" src="{{ url_for('static', filename='assets/img/scrollup.png') }}">
          <ul id="box" class="list-unstyled" style="height: 340px; overflow: hidden;">
            {% for category in categories %}
              {% if session.selected_category.name == category.name %}
                <li id="{{ category.name|safe }}"><a class="active_category" href="{{ url_for ('CategoryBP.view_category_page', category_id=category.id) }}">{{ category.name|safe }}</a></li>
              {% else %}
                <li id="{{ category.name|safe }}"><a href="{{ url_for ('CategoryBP.view_category_page', category_id=category.id) }}">{{ category.name|safe }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
          <input id="scrolldown" type="image" width="170" height="20" name="scroll_down" src="{{ url_for('static', filename='assets/img/scrolldown.png') }}">
          {% if current_user.is_authenticated %}
          <br>
          <h4>Wished Resources</h4>
          <ul class="list-unstyled" style="height: 300px; overflow: auto;">
            {% for wishlist in wishlists %}
              <li>
                <li><a href="{{ url_for('ResourceBP.view_wishlist_page', slug=wishlist.reference) }}">{{ wishlist.name|safe }}</a></li>
              </li>
            {% endfor %}
          </ul>
          {% else %}
          {% endif %}
        </div>
      </div> {# end sidebar category #}

      {# start center page #}
      <div class="col-lg-10 col-md-10 center-page">
        <div class="col-lg-12">
          <h5 class="center-page-header">{{ session.selected_category.name|safe }}</h5>
          <hr class="header-line">
        </div>

        {# start breadcrumbs #}
        <div class="col-lg-12">
          <ol class="breadcrumb resources-breadcrumb">
            <li><a href="{{ url_for('UserBP.home_page') }}">Home</a></li>
            {% if session['selected_category'] %}
              <li><a href="{{ url_for('CategoryBP.view_category_page', category_id=session.selected_category.id) }}">{{ session.selected_category.name|safe }}</a></li>
            {% endif %}
            {% if session['selected_subcategory'] %}
              <li><a href="{{ url_for('CategoryBP.view_category_page', category_id=session.selected_category.id, subcategory=[session.selected_subcategory.id]) }}">{{ session.selected_subcategory.name|safe }}</a></li>
            {% endif %}
            <li class="active">{{ resource.resource_name }}</li>
          </ol>
        </div> {# end breadcrumbs #}

        {# start resource body #}
        <div class="col-lg-12">
          <input type="hidden" name="resource_id" id="resource_id" value="{{ resource.resource_id }}">
          {% if current_user.is_authenticated %}
            <input type="hidden" name="user_id" id="user_id" value="{{ current_user.id }}">
          {% endif %}
          <div class="row">
            {# start resource photos #}
            <div class="col-lg-4">
              {# start swiper slider #}
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  {% for image in resource.images %}
                    <div class="swiper-slide">
                      <a href="{{ image.image_full }}" class="original-image">
                        <img src="{{ image.image or 'http://placehold.it/540x540' }}" alt="" class="img-responsive" width="100%">
                      </a>
                    </div>
                  {% endfor %}
                </div>

                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                  <!-- Add Arrows -->
                  <div class="swiper-button-next swiper-button-white"></div>
                  <div class="swiper-button-prev swiper-button-white"></div>
              </div> {# end swiper slider #}

              <div class="row">
                <div class="col-sm-12">
                  <div class="gallery-thumbs">
                    {% for image in resource.images %}
                      <div class="image-thumb"><img src="{{ image.image or 'http://placehold.it/540x540' }}" alt="" class="img-responsive"></div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div> {# end resource photos #}

            {# start resource description #}
            <div class="col-lg-4">
              <div class="resource-description">
                <h4>{{ resource.resource_name|safe }}</h4>
                {% if current_user.is_authenticated %}
                  {% if current_user.email == resource.owner_email %}
                    <p><i class="fa fa-user btn-icon" aria-hidden="true"></i> <a href="{{url_for('UserBP.user_profile_page', user_id=resource.owner_id) }}">{{ resource.owner_name }}</a></p>
                  {% else %}
                    <p><i class="fa fa-user btn-icon" aria-hidden="true"></i> <a href="{{url_for('UserBP.view_profile_page', user_id=resource.owner_id) }}">{{ resource.owner_name }}</a></p>
                  {% endif %}
                {% else %}
                {% endif %}

                {% if current_user.is_authenticated %}
                  <p><i class="fa fa-briefcase btn-icon" aria-hidden="true"></i>
                  {% if resource.company_name %}
                  <a href="{{ url_for('CompanyBP.view_company_page', company_id=resource.company_id) }}">{{ resource.company_name|safe }}</a></p>
                  {% else %}
                  {{ 'No Company' }}
                  {% endif %}
                {% endif %}
                <p>
                  <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> Quantity: {{ resource.quantity }}
                </p>
                <p>
                  <i class="fa fa-tag btn-icon" aria-hidden="true"></i>
                    {% if resource.price != "0.00" %}
                      <strong>S${{ resource.price }}</strong>
                    {% else %}
                      Contact Owner for the Price
                    {% endif %} 
                    <em>(per {{ resource.rate }})</em>
                </p>
                <p>
                  <i class="fa fa-info" aria-hidden="true"></i>
                  {% if resource.categories %}
                    {% for category in resource.categories %}
                      {{ category.main_category_name }} / {{ category.subcategory.name }}
                    {% endfor %}
                  {% else %}
                  {% endif %}
                </p>
                <p>
                  <div class="formatted"><i class="fa fa-commenting btn-icon" aria-hidden="true"></i> {{ resource.description|safe }}</div>
                </p>

                <p>
                  <div class="formatted">
                    <i class="fa fa-address-card btn-icon" aria-hidden="true"></i> 
                    {# Objects in resource.location still has no values #}
                    {# {{ resource.location.street|safe }} {{ resource.location.city|safe }} {{ resource.location.state|safe }} {{ resource.location.zipcode|safe }} #}
                  </div>
                </p>
              </div>
            </div> {# end resource description #}

            {# start resource actions #}
            <div class="col-lg-4">
              <p class="text-muted">Share This With Friends</p>
              <div class="social-links">
                {# Facebook Like #}
                <div class="soc-link">
                  <div id="fb-root"></div>
                  <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                  </script>
                  <div class="fb-like" data-href="https://web.facebook.com/resourcestoshare" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
                </div>
                {# Facebook Share #}
                <div class="soc-link">
                  <div id="fb-root"></div>
                  <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));</script>
                  <div class="fb-share-button" data-href="{{base_url}}/{{resource.reference}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fresourcestoshare.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                </div>
                {# Twitter #}
                <div class="soc-link">
                  <a href="https://twitter.com/resources2share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                {# LinkedIn #}
                <div id="dialog" class="soc-link">
                  <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                  <script type="IN/Share" data-url="{{base_url}}/{{resource.reference}}"></script>
                  <script>
                      $("#dialog").dialog({
                          position: {
                            my: 'top',
                            at: 'center'
                          }
                      });
                  </script>
                </div>
              </div>

              {% with messages = get_flashed_messages(with_categories=true) %}
                  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                  {% if messages %}
                      {% for category, message in messages %}
                          <div class="alert alert-flash alert-{{ category }} alert-dismissible" role="alert" style="margin-top: 10px;">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <!-- <strong>Title</strong> --> {{ message }}
                          </div>
                      {% endfor %}
                  {% endif %}
              {% endwith %}

              <form id="booking-form" class="display-none" method="POST" action="{{ url_for('ResourceBP.resource_page', slug=resource.reference) }}">
                {{ transaction_form.csrf_token }}
                  <div class="form-group">
                    <label for="Quantity"><span class="text-red">*</span>Quantity</label>
                    {{ transaction_form.quantity(class="form-control", type='number', min=1, placeholder="Quantity", required="") }}
                  </div>

                  <div class="form-group">
                    <label for="Booking_Date"><span class="text-red">*</span>Booking Date</label>
                    {{ transaction_form.booking_date(class="form-control", id="date-range", placeholder="Booking Date", required="", readonly="") }}
                  </div>

                  <div class="form-group">
                    <label for="Notes">Message to Seller</label>
                    {{ transaction_form.proposal(class="form-control", cols="30", rows="3", placeholder="A message will be sent to the seller...") }}
                  </div>

                  <button type="submit" class="btn btn-primary btn-block">Proceed</button>
              </form>


              {% if current_user.email != resource.owner_email %}
                {% if current_user.is_authenticated %}
                  <button id="rent-now" class="btn btn-primary btn-block btn-sm btn-wrap">Rent Now</button>
                  <button id="cancel-now" style="display: none" class="btn btn-danger btn-sm btn-block">Cancel</button>
                {% else %}
                  <a href="{{ url_for('UserBP.login_page', next=request.path) }}" class="btn btn-primary btn-block btn-sm btn-wrap">Rent Now</a>
                {% endif %}
              {% endif %}

              <div class="btn-group btn-group-justified top-space" role="group">
              {% if resource.status == 'ACTIVE' %}
              {% if current_user.is_authenticated %}
                {% if current_user.email == resource.owner_email %}
                  <div class="btn-group" role="group">
                    <a href="{{ url_for('ResourceBP.edit_resources_page', slug=resource.reference) }}" class="btn btn-default btn-sm btn-wrap">Edit Resource</a>
                  </div>
                {% else %}
                  <div class="btn-group" role="group">
                    <a href="{{ url_for('UserBP.new_message', rid=resource.resource_id) }}" class="btn btn-default btn-sm btn-wrap">Chat with Owner</a>
                  </div>
                {% endif %}
              {% else %}
                  <div class="btn-group" role="group">
                    <a href="{{ url_for('UserBP.login_page', next=request.path) }}" class="btn btn-default btn-sm btn-wrap">Chat with Owner</a>
                  </div>
              {% endif %}


                <div class="btn-group" role="group">
                  {% if current_user.is_authenticated %}
                    {% if is_favorite %}
                      <button id="favorite" type="button" class="btn btn-default btn-sm btn-wrap button-fave-success"><i class="fa fa-bookmark fa-lg aria-hidden="true"></i> Bookmark</button>
                      {% else %}
                        <button id="favorite" type="button" class="btn btn-default btn-sm btn-wrap"><i class="fa fa-bookmark fa-lg aria-hidden="true"></i> Bookmark</button>
                      {% endif %}
                  {% else %}
                    <a href="{{ url_for('UserBP.login_page', next=request.path) }}" class="btn btn-default btn-sm btn-wrap"><i class="fa fa-bookmark fa-lg" aria-hidden="true"></i></a>
                  {% endif %}
                </div>
              {% endif %}
              </div>


              {% if current_user.is_authenticated %}
                {% if current_user.email == resource.owner_email %}
                  {% if resource.status == 'ACTIVE' %}
                  <button id="archive_button" style="margin-top: 5px;" class="btn btn-danger btn-sm btn-block" data-id="{{ resource.resource_id }}" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i> Archive</button>

                  <div style="margin-top: 40px;">
                    <p>*Archive your resources if they are no longer available. You may restore them later if they become available again.
                    </p>
                  </div>
                  {% else %}
                  <button id="restore_button" style="margin-top: 5px;" class="btn btn-success btn-sm btn-block" data-id="{{ resource.resource_id }}" type="submit"><i class="fa fa-refresh" aria-hidden="true"></i> Restore</button>
                  {% endif %}
                {% else %}
                {% endif %}
              {% endif %}

            </div> {# end resource actions #}

          </div>
          <br>
        </div> {# end resource body #}
      </div> {# end center page #}
    </div>
  </div> {# end main body #}

  {% if current_user.is_authenticated %}
    {% if current_user.email == resource.owner_email %}
    <!--Modal confirm-->
    <div name="Archive" style="z-index:1051" class="modal fade DataTableModal" role="dialog">
      <div class="modal-dialog">
        <form method="POST" action="{{ url_for('ResourceBP.archive_resource', user_id=current_user.id, slug=resource.reference) }}" role="form" files=true enctype="multipart/form-data" class="modal-content">
        {{ resource_form.csrf_token }}
          <div class="modal-header">
          <!-- <input type="hidden" name="user_id"> -->
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class="modal-body">
            <!--Are you sure do you want to delete this Item?-->
            Are you sure you want to delete this item?
          </div>
          <div class="modal-footer customdlft">
            <button name="Cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button name="Confirm" type="submit" class="btn btn-primary">Yes</button>
          </div>
        </form>
      </div>
    </div>

    <div name="Restore" style="z-index:1051" class="modal fade DataTableModal" role="dialog">
      <div class="modal-dialog">
        <form method="POST" action="{{ url_for('ResourceBP.restore_resource', user_id=current_user.id, slug=resource.reference) }}" role="form" files=true enctype="multipart/form-data" class="modal-content">
        {{ resource_form.csrf_token }}
          <div class="modal-header">
          <!-- <input type="hidden" name="user_id"> -->
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class="modal-body">
            <!--Are you sure do you want to restore this Item?-->
            Are you sure you want to restore this item?
          </div>
          <div class="modal-footer customdlft">
            <button name="Cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button name="Confirm" type="submit" class="btn btn-primary">Yes</button>
          </div>
        </form>
      </div>
    </div>
    {% else %}
    {% endif %}
  {% endif %}


{% endblock %}

{% block lib_javascript %}
  <script src="{{ url_for('static', filename='assets/js/magnific-popup.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/swiper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/daterangepicker.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/selectize.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/selectize_no_result_plugin.js') }}"></script>


{% endblock %}


{% block custom_javascript %}

<!-- disable confirm button -->
<script>
  $("[name='Confirm']").on("click", function() {
    $(this).prop("disabled", true);
    $(this).parent().parent().submit();
  });

  $("#booking-form [type='submit']").on("click", function() {
    $(this).prop("disabled", true);
    $("#booking-form").submit();
  });
</script>

<!-- Others must be on Last -->

<script type="text/javascript">
  $(document).ready(function(){

    $("#categories > optgroup").filter(function(){
      return this.id == "Others";
    }).insertAfter("#categories > optgroup:last");

    $("#box > li").filter(function(){
      return this.id == "Others";
    }).insertAfter($("#box > li:last"));

  });
</script>

  <script type="text/javascript">
    $(document).ready(function() {

      var favorites_url = '{{ base_url }}' + "/bookmarks";


      $("#favorite").click(function() {

        var resource_id = $('#resource_id').val()
        var user_id = $('#user_id').val()
        var fave_url = '/resources/' + resource_id + '/bookmarks'
        $.ajax({
          url: fave_url,
          datatype: 'json',
          type: 'GET',
          success: function(data) {
            if (data["message"] == "Successfully updated") {
              $("#favorite").addClass("button-fave-success");

              $.notify({
                // options
                icon: 'fa fa-info-circle',
                title: 'Resource has been added to favorites',
                url: favorites_url
              },{
                // settings
                element: 'body',
                position: null,
                type: "info",
                z_index: 1031,
                delay: 1000,
                timer: 1000,
                placement: {
                    from: "bottom",
                    align: "left"
                },
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                },
                mouse_over: null,
                newest_on_top: true,
                icon_type: 'class',
                template:

                 '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span>' +
                    '<a href="{3}" data-notify="url"></a>' +
                 '</div>'

              });

            } else if (data["message"] == "Successfully removed") {
              $("#favorite").removeClass("button-fave-success");

              $.notify({
                // options
                icon: 'fa fa-info-circle',
                title: 'Resource has been removed from favorites',
              },{
                // settings
                element: 'body',
                position: null,
                type: "info",
                z_index: 1031,
                delay: 1000,
                timer: 1000,
                placement: {
                    from: "bottom",
                    align: "left"
                },
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                },
                mouse_over: null,
                newest_on_top: true,
                icon_type: 'class',
                template:

                 '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span>' +
                 '</div>'
              });

            }
          },
          error: function(error) {
              console.log("error");
              console.log(error);
          }
        });
      });

      $(function() {
        var tomorrowDate = new Date();
        tomorrowDate.setDate(tomorrowDate.getDate() + 1);
        $('#date-range').daterangepicker({
            autoUpdateInput: false,
            opens: 'left',
            locale: {
                cancelLabel: 'Clear'
            },
            "minDate": tomorrowDate,
            useCurrent: false
        });

        $('#date-range').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#date-range').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });

      });

      $("#rent-now").click(function() {
        $("#rent-now").addClass("display-none");
        $("#booking-form").removeClass("display-none");
        $("#booking-form").addClass("display-yes");
      });

      $("#cancel-now").click(function() {
        $("#rent-now").addClass("display-yes");
        $("#booking-form").removeClass("display-yes");
        $("#booking-form").addClass("display-none");
      });


      var btn = $('#rent-now,#cancel-now').click(function() { // bind click handler to both button
        $(this).hide(); // hide the clicked button
        btn.not(this).show(); // show the another button which is hidden
      });
    });
  </script>

  <!-- Initialize Swiper -->
  <script>
      var swiper = new Swiper('.swiper-container', {
          pagination: '.swiper-pagination',
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',
          slidesPerView: 1,
          paginationClickable: true,
          autoplayDisableOnInteraction: false,
          centeredSlides: true,
          // loop: true,

      });

      $('.image-thumb').on('click', function(){
          // swiper.slideTo(index, speed, runCallbacks);
          swiper.slideTo($(this).index());
      });
  </script>

  <script>
    $('.swiper-wrapper').magnificPopup({
      delegate: 'a', // child items selector, by clicking on it popup will open
      type: 'image',
      mainClass: 'mfp-fade',
      gallery: {
        enabled: true,
      }
    });
  </script>

  {# Search Categories #}
  <script type="text/javascript">
    // document.ready
    $( document ).ready(function() {
      $("#parent_category").hide();
      $("#parent_category_label").hide();
      $("#subcategory").hide();
      $("#subcategory_label").hide();
      initCategorySel();
    });

    // show image picker
    $('#imgclick').click(function() {
      $('#imgupload').trigger('click');
    });

    // init category selectize
    function initCategorySel() {
      $('#categories').selectize({
        plugins: ['remove_button', 'restore_on_backspace', 'no_results'],
        maxItems: 1,
        onChange: function(value) {
          if(value !== null) {
            $("#categories-error").hide();
          } else {
            $("#categories-error").show();
          }
        }
      });
    }

  </script>

  {# Delete Confirmation #}
  <script>
    $('#archive_button').click(function() {

      // $("input[name='user_id'").val(user_id);

      $("div[name='Archive']").modal('show');

    });

  </script>

  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }
      (document, 'script', 'facebook-jssdk'));

    document.getElementById('shareBtn').onclick = function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: 'https://developers.facebook.com/docs/',
      }, function(response){});
    }
  </script>

  {# Restore Confirmation #}
  <script>
    $('#restore_button').click(function() {

      // $("input[name='user_id'").val(user_id);

      $("div[name='Restore']").modal('show');

    });

  </script>

  {# Scroll bar Categories #}
  <script type="text/javascript">
    $(document).ready(function () {
        $('#scrolldown').click(function () {
            $('#box').animate({
                scrollTop: '+=50'
            }, 500);
        });

    });

    $(document).ready(function () {
        $('#scrollup').click(function () {
            $('#box').animate({
                scrollTop: '-=50'
            }, 500);
        });
    });
  </script>
{% endblock %}
