{% extends "layouts/main.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='assets/css/rateyo.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {# start main body #}
  <div class="container" id="profile">
    <div class="row">
      {# start sidebar #}
      <div class="col-lg-2 col-md-2 hidden-xs">
        <div class="sidebar-module">
          <h4>Resources</h4>
          <ul class="list-unstyled">
            <li><a class="tab" href="{{ url_for ('UserBP.user_resources_page', user_id=current_user.id) }}">My Resources</a></li>
            <li><a class="tab" href="{{ url_for('ResourceBP.add_resources_page') }}">Add Resources</a></li>
            <li><a class="tab active_category" href="#">Archived Resources</a></li>
          </ul>

          <br>

          <h4>Wishlist</h4>
          <ul class="list-unstyled">
            <li><a class="tab" href="{{ url_for('UserBP.user_wishlist_page', user_id=current_user.id) }}">My Wishlist</a></li>
            <li><a class="tab" href="{{ url_for('ResourceBP.add_wishlist_page') }}">Add Wishlist</a></li>
            <li><a class="tab" href="{{ url_for('UserBP.archive_wishlist_page', user_id=current_user.id) }}">Archived Wishlist</a></li>
          </ul>
        </div>
      </div> {# end sidebar #}

      {# start center page #}
      <div class="col-lg-10 col-md-10 center-page">
        {# start title #}
        <div class="col-lg-12">
          <h5 class="center-page-header">Archived Resources</h5>
          <hr class="header-line">
          <br>
        </div> {# end title #}

        {% if resources|length == 0 %}

        <div class="blank-page">
          <div class="empty-box text-left">
            <p style="font-weight: bold; font-size: 15px; margin-top: 100px; margin-left: 15px;"><span>You don't have any transactions at the moment.</span></p>
            <p style="font-size: 25px; margin-top: 10px; font-weight: bold; margin-left: 15px;"><span><i>Start browsing now!</i></span></p>
            <p style="margin-left: 15px;" class="btn-horizontal-list"><a class="btn btn-primary" href="{{ url_for('UserBP.home_page') }}"><span>Browse Resources</span></a></p>
          </div>
        </div>

        {% else %}

        {% for resource in resources %}
          {% include 'layouts/resource_item.html' %}
        {% endfor %}
        <div class="clearfix"></div>
        {# start pagination #}
        <div class="row text-center">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              {% if pagination.has_prev %}
                <li>
                  <a href="{{ url_for('UserBP.user_profile_page', user_id=user.id, page=page|int - 1) }}" aria-label="Next">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="disabled">
                  <span>
                    <span aria-hidden="true">&laquo;</span>
                  </span>
                </li>
              {% endif %}
              {% for page in pagination.iter_pages() %}
                {% if page == pagination.page %}
                  <li class="active"><a href="{{ url_for('UserBP.user_profile_page', user_id=user.id, page=page) }}">{{ page }}</a></li>
                {% else %}
                  <li><a href="{{ url_for('UserBP.user_profile_page', user_id=user.id, page=page) }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}

              {% if pagination.has_next %}
                <li>
                  <a href="{{ url_for('UserBP.user_profile_page', user_id=user.id, page=page|int + 1) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="disabled">
                  <span>
                    <span aria-hidden="true">&raquo;</span>
                  </span>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div> {# start pagination #}
        {% endif %}
      </div> {# end center page #}
    </div>
    <br>
  </div> {# end main body #}
{% endblock %}

{% block lib_javascript %}
  <script src="{{ url_for('static', filename='assets/js/rateyo.js') }}"></script>
{% endblock %}

{% block custom_javascript %}
  <script>
    $(function () {

      $("#profile-rate").rateYo({
        rating: 5,
        readOnly: true,
      });

      $(".resource-rate").rateYo({
        rating: 4,
        readOnly: true,
        starWidth: "20px",
      });

    });

  $(".tab").click(function() {
    $(this).parent().addClass('active_category').siblings().removeClass('active_category');

    });
  </script>
{% endblock %}