{% extends "layouts/main.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='assets/css/rateyo.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {# start main body #}
  <div class="container" id="profile">
    <div class="row">
      {# start sidebar #}
      <div class="col-lg-2 col-md-2 hidden-xs">
        <div class="sidebar-module">
          <h4>Profile</h4>
          <ul class="list-unstyled">
            <li><a href="{{ url_for ('UserBP.user_profile_page', user_id=current_user.id) }}">My Profile</a></li>
            <li><a href="{{ url_for ('UserBP.user_edit_profile') }}">Edit Profile</a></li>
            <li><a class="active_category" href="{{ url_for ('UserBP.user_change_password') }}">Change Password</a></li>
          </ul>
        </div>
      </div> {# end sidebar #}

      {# start center page #}
      <div class="col-lg-10 col-md-10 center-page">
        <div class="col-lg-12">
          <h5 class="center-page-header">Change Password</h5>
          <hr class="header-line">
        </div>

        <div class="col-md-6 settings-content">
          <div>
            {% with messages = get_flashed_messages(category_filter=['password']) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
              {% for message in messages %}
                  {% set msg = message.split(';') %}
                  <div class="alert alert-flash alert-{{ msg[1] }} alert-dismissible" role="alert" style="margin-top: 10px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <strong>Title</strong> --> {{ msg[0] }}
                </div>
              {% endfor %}
            {% endif %}
            {% endwith %}
         </div>

          <form role="form" id="change_password_form" name="change_password_form" action="{{ url_for('UserBP.user_change_password') }}" method="POST" files=true enctype="multipart/form-data">
              {{ change_password_form.csrf_token }}
              <div class="form-group">
                {{ change_password_form.old_password.label(class_='required') }}
                  {{ change_password_form.old_password(class="form-control", placeholder="Current Password") }}

                <div class="help-block with-errors"></div>
                  {% if change_password_form.old_password.errors %}
                      {% for error in change_password_form.old_password.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                  {% endif %}
              </div>

              <div class="form-group">
                {{ change_password_form.new_password.label(class_='required') }}
                  {{ change_password_form.new_password(class="form-control", placeholder="New Password") }}

                <div class="help-block with-errors"></div>
                  {% if change_password_form.new_password.errors %}
                      {% for error in change_password_form.new_password.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                  {% endif %}
              </div>

              <div class="form-group">
                {{ change_password_form.confirm_password.label(class_='required') }}
                  {{ change_password_form.confirm_password(class="form-control", placeholder="Confirm Password") }}

                <div class="help-block with-errors"></div>
                  {% if change_password_form.confirm_password.errors %}
                      {% for error in change_password_form.confirm_password.errors %}
                          <span class="help-block">{{ error }}</span>
                      {% endfor %}
                  {% endif %}
              </div>

              <div class="form-group" aria-describedby="submit-tooltip">
                {{ change_password_form.reset(class="btn btn-primary") }}
              </div>
          </form>
        </div>




      </div> {# end center page #}
    </div>
    <br>
  </div> {# end main body #}
{% endblock %}

{% block lib_javascript %}
  <script src="{{ url_for('static', filename='assets/js/daterangepicker.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/jquery.validate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/additional-methods.js') }}"></script>
{% endblock %}

{% block custom_javascript %}
  <script>

    $("#change_password_form").validate({
      rules: {
        old_password: {
          required: true,
          minlength: 6
        },
        new_password: {
          required: true,
          minlength: 6
        },
        confirm_password: {
          required: true,
          minlength: 6,
          equalTo: "#new_password"
        }
      },
      messages: {
        old_password: {
          required: "Old password is required."
        },
        new_password: {
          required: "New password is required."
        },
        confirm_password: {
          required: "Confirm password is required.",
          equalTo: "Passwords must match."
        }
      },
      errorElement: "span",
      errorPlacement: function(error, element) {
        // Add the `help-block` class to the error element
        error.addClass("help-block has-error");
        if (element.prop("type") === "checkbox") {
          error.insertAfter(element.parent("label"));
        } else {
          error.insertAfter(element);
        }
      },
      highlight: function(element, errorClass, validClass ) {
        $(element).parents(".form-group").addClass("has-error").removeClass("has-success");
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).parents(".form-group").removeClass("has-error");
      }
    });
  </script>
{% endblock %}