<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>R2S</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/jquery.rateyo.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">
            <img src="img/logo.png" alt="">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse-2">

          <ul class="nav navbar-nav navbar-right header-nav">
              <li>
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="#">FAQ</a>
              </li>
              <li>
                <a href="#">Contact Us</a>
              </li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> Manny Diaz <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Oneberry Technologies</a></li>
                  <li><a href="/profile.html"><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a></li>
                  <li><a href="/bookmarks.html"><i class="fa fa-bookmark" aria-hidden="true"></i> Bookmarks</a></li>
                  <li><a href="/transaction.html"><i class="fa fa-bars" aria-hidden="true"></i> Transactions</a></li>
                  <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="">Logout</a></li>
                </ul>
              </li>

              <li>
                <form class="navbar-form search-form" role="search">
                    <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1"> 
                    <a href=""><i class="fa fa-search search-icon" aria-hidden="true"></i></a>
                </form>
              </li>
            
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" id="profile">
        <div class="row">
          <div class="col-lg-2 col-md-2 hidden-xs">
            <div class="sidebar-module">
              <h4>Profile</h4>
              <p><i>My Resources</i></p>
              <ul class="list-unstyled">
                <li><a href="#">Resources to Share</a></li>
                <li><a href="#">Add Resources</a></li>
                <li><a href="#">Archived Resources</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-10 col-md-10 center-page">
            <div class="col-lg-12">
              <h5 class="center-page-header">My Profile</h5>
              <hr class="header-line">
            </div>

            <div class="row wrap-profile">
              <div class="col-lg-3">
                <div class="profile-info">
                  <a href="">
                      <img src="img/profile.png" alt="" class="img-rounded">
                  </a>
                  <h5><b>Manny Diaz</b></h5>
                  <span>Oneberry technologies</span>
                  <div class="text-muted">
                    Joined May 2017
                  </div>
                  <div class="text-muted email">
                    manny@oneberry.com
                  </div>
                </div>
              </div>

              <div class="col-lg-9">
                
                <div>
                  <h5><b>About Me</b></h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur voluptatem, impedit? Iusto vero numquam facilis beatae, sunt consectetur unde reprehenderit voluptate tenetur at reiciendis iste doloremque atque saepe id. Assumenda.</p>
                </div>
                
              </div>
              
            </div>
              <div class="row">
                <div style="border-top:1px solid #b5b5b5; margin:0px 30px">
                  <div class="col-lg-6">
                    <div>
                    <h5><b>Resources</b></h5>
                      <div class="col-sm-4">
                        <a href="" class="item-name">
                          <img src="img/drone.jpg" alt="..." class="img-thumbnail img-responsive">
                        </a>
                          <h5 class="ellipsis text-center"><b>Title Tile Tile tileasdf asdasd</b></h5>
                          <h6 class="text-center text-danger">SGD 10.00</h6>
                      </div>
                      <div class="col-sm-4">
                        <a href="" class="item-name">
                          <img src="img/drone.jpg" alt="..." class="img-thumbnail img-responsive">
                        </a>
                          <h5 class="ellipsis text-center"><b>Title Tile Tile tileasdf asdasd</b></h5>
                          <h6 class="text-center text-danger">SGD 10.00</h6>
                      </div>
                      <div class="col-sm-4">
                        <a href="" class="item-name">
                          <img src="img/drone.jpg" alt="..." class="img-thumbnail img-responsive">
                        </a>
                          <h5 class="ellipsis text-center"><b>Title Tile Tile tileasdf asdasd</b></h5>
                          <h6 class="text-center text-danger">SGD 10.00</h6>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6" style="border-left:1px solid #b5b5b5;">
                    <h5><b>Members Feedback</b></h5>

                    <div class="col-sm-12">
                      <div class="media">
                        <div class="media-left media-top">
                          <img src="img/drone.jpg" class="media-object" style="width:60px">
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading"><b>Jospeh Guzman</b>
                            <small class="pull-right">star</small>
                          </h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat enim, soluta mollitia dignissimos ea architecto, aliquam repellendus autem doloribus libero fugiat cum quaerat, molestias voluptatum eligendi quos pariatur. Ducimus, enim!</p>
                        </div>
                      </div>

                      <div class="media">
                        <div class="media-left media-top">
                          <img src="img/drone.jpg" class="media-object" style="width:60px">
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading"><b>Jospeh Guzman</b>
                            <small class="pull-right">star</small>
                          </h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat enim, soluta mollitia dignissimos ea architecto, aliquam repellendus autem doloribus libero fugiat cum quaerat, molestias voluptatum eligendi quos pariatur. Ducimus, enim!</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>

    <footer>

    <!-- <hr class="footer-line"> -->

    </footer>
    <div class="copyright">
      <div class="container" >
        <span>Copyright © 2017 Resources to Share. All Rights Reserved.</span>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.rateyo.js"></script>


    <script>
      
        $(function () {

          $("#profile-rate").rateYo({
              rating: 4,
              readOnly: true,
              starWidth: "25px",
          });

          $(".resource-rate").rateYo({
              rating: 4,
              readOnly: true,
              starWidth: "20px",
          });

        });
  
    </script>
  </body>
</html>