{% extends "layouts/main.html" %}
{% block body %}
  {# start main body #}
  <div class="container sub-banner" id="resource-profile">
    <div class="row">
      {# start sidebar category #}
      <div class="col-lg-2 col-md-2 hidden-xs">
        <div class="sidebar-module">
          <h4>Category</h4>
          <input id="scrollup" type="image" width="170" height="20" name="scroll_up" src="{{ url_for('static', filename='assets/img/scrollup.png') }}">
            <ul id="box" class="list-unstyled" style="height: 340px; overflow: hidden;">
              {% for category in categories %}
                <li class="ellipsis" id="{{ category.name|safe }}">
                  <a id="category_name" href="{{ url_for ('CategoryBP.view_category_page', category_id=category.id) }}">
                    {{ category.name|safe }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          <input id="scrolldown" type="image" width="170" height="20" name="scroll_down" src="{{ url_for('static', filename='assets/img/scrolldown.png') }}">
        </div>
      </div> {# end sidebar category #}

      {# start center page #}
      <div class="col-lg-10 col-md-10 center-page">
        <div class="col-lg-12">
          <h5 class="center-page-header">Resend Email Verification</h5>
          <hr class="header-line">
        </div>

        <div id="login-form">
          <div class="col-md-6 join-form-main">
              <br>
              {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-flash alert-{{ category }} alert-dismissible" role="alert" style="margin-top: 10px;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <!-- <strong>Title</strong> --> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
              {% endwith %}

              <form role="form" method="POST" name="email_form" id="email_form">
                {{ resend_email_form.csrf_token }}
                  {% if resend_email_form.email.errors %}
                  <div class="form-group has-error">
                  {% else %}
                  <div class="form-group">
                  {% endif %}
                    <label for="email">Email</label>
                    {{ resend_email_form.email(class="form-control", placeholder="Enter email") }}
                      {% if resend_email_form.email.errors %}
                          {% for error in resend_email_form.email.errors %}
                              <span class="help-block">{{ error }}</span>
                          {% endfor %}
                      {% endif %}
                  </div>

                <button type="submit" class="btn btn-primary btn-block">Resend Email Verification</button>
            </form>

          </div>
        </div>

      </div> {# end center page #}
    </div>
    <br>
  </div> {# end main body #}
{% endblock%}

{% block lib_javascript %}
  <script src="{{ url_for('static', filename='assets/js/jquery.validate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/additional-methods.js') }}"></script>
{% endblock %}

{% block custom_javascript %}

<!-- Others must be on Last -->

<script type="text/javascript">
  $(document).ready(function(){

    $("#categories > optgroup").filter(function(){
      return this.id == "Others";
    }).insertAfter("#categories > optgroup:last");

    $("#box > li").filter(function(){
      return this.id == "Others";
    }).insertAfter($("#box > li:last"));

  });
</script>

  {# Scroll bar Categories #}
  <script>
    $(document).ready(function () {
        $('#scrolldown').click(function () {
            $('#box').animate({
                scrollTop: '+=50'
            }, 500);
        });

    });

    $(document).ready(function () {
        $('#scrollup').click(function () {
            $('#box').animate({
                scrollTop: '-=50'
            }, 500);
        });
    });
  </script>

  {# Email Validation #}
  <script>
    $("#email_form").validate({
      rules: {
        email: {
          required: true,
          email: true
        }
      },
      messages: {
        email: {
          required: "Email address is required."
        }
      },
      errorElement: "span",
      errorPlacement: function(error, element) {
        // Add the `help-block` class to the error element
        error.addClass("help-block has-error");
        if (element.prop("type") === "checkbox") {
          error.insertAfter(element.parent("label"));
        } else {
          error.insertAfter(element);
        }
      },
      highlight: function(element, errorClass, validClass ) {
        $(element).parents(".form-group").addClass("has-error").removeClass("has-success");
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).parents(".form-group").removeClass("has-error");
      }
    });
  </script>
{% endblock %}
